<style>
    
    .navHeader{
        background-color: #333;
        height: 60px;
        display: flex;
        column-gap: 0.4rem;
        align-items: center;
    }

    .hostAdd{
        color: red;
        /* border: 2px solid red; */
        padding: 0px 10px;
        text-decoration: none;
    }
    a:hover{
        color: white;
        transition: 1s all;
    }
</style> 

<header>
    <div class="navHeader">
        <a href="/" class="hostAdd">airbnb</a>
        <a href="/homes" class="hostAdd">Home</a>
        <a href="/bookings" class="hostAdd">Bookings</a>
        <a href="/favourites" class="hostAdd">FavL</a>
        <a href="/host/host-home-list" class="hostAdd">Hosts Home</a>
        <a href="/host/add-home" class="hostAdd">Add Home</a>
    </div>
</header>